
@font-face {
  font-family: 'Financier Display';
  src: url('../lib/fonts/Soe7vtliQkUtCrH_.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AreaSemibold';
  src: url('../lib/fonts/z3i6qVQkbI1K3iF_.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AreaSemibold';
  src: url('../lib/fonts/SbtzlN2dTFcjWJ7K.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

